@using GCDGameStore.ViewModels;

@{
    ViewData["Title"] = "Report Index";
    Layout = "_EmployeeLayout";
    var physicalAggregate = (List<SaleAggregate>)ViewData["PhysicalSales"];
    var digitalAggregate = (List<SaleAggregate>)ViewData["DigitalSales"];
}

<h2>Sales Report</h2>

<h3>@DateTime.Now</h3>

<h3>Total Sales for Week</h3>
<table>
    <thead>
        <tr>
            <th colspan="3">Digital Sales Top 5</th>
        </tr>
        <tr>
            <th>Title</th>
            <th>Copies Sold</th>
            <th>Total Revenue</th>
            <!-- not yet implemented
                <th>Total Key Cost</th>
            -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in digitalAggregate)
        {
            <tr>
                <td>@item.Title</td>
                <td class="text-right">@item.Quantity</td>
                <td class="text-right">@item.Revenue</td>
            </tr>
        }
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th colspan="3">Physical Sales Top 5</th>
        </tr>
        <tr>
            <th>Title</th>
            <th>Copies Sold</th>
            <th>Total Revenue</th>
            <!-- To be implemented
                <th>Total Copy Cost</th>
                <th>Total Shipping Cost</th>
            -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in physicalAggregate)
        {
            <tr>
                <td>@item.Title</td>
                <td class="text-right">@item.Quantity</td>
                <td class="text-right">@item.Revenue</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index">Return</a>


