@model GCDGameStore.Models.Member

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PwHash)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PwHash)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PwSalt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PwSalt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailingStreetAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailingStreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailingPostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailingPostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailingCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailingCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailingProvince)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailingProvince)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingStreetAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingStreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingPostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingPostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingProvince)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingProvince)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MemberId">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-action="Library" asp-route-id="@Model.MemberId">View Library</a> |
    <a asp-action="Wishlist" asp-route-id="@Model.MemberId">View Wish List</a>
</div>
