@model IEnumerable<GCDGameStore.ViewModels.MemberLibrary>

@{
    ViewData["Title"] = "Library";
    Layout = "_MemberLayout";
}

<h2>Library</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th></th>
            <th>User Rating</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Title)
            </td>
            <td>
                @if (item.HasReview)
                {
                    <a asp-controller="Review" asp-action="Details" asp-route-id="@item.ReviewId">View Review</a>
                }
                else
                {
                    <a asp-controller="Review" asp-action="Create" asp-route-id="@item.GameId">Create Review</a>
                }
            </td>
                @if (item.HasRating)
                {
                    <td style="padding-left:40px;">
                        @Html.DisplayFor(modelItem => item.Rating.RatingScore)
                    </td>
                }
                else
                {
                    <td>
                        <a asp-controller="Rating" asp-action="Create" asp-route-id="@item.GameId">Rate Game</a>
                    </td>
                }
            <td>
                <a asp-controller="MemberGame" asp-action="Details" asp-route-id="@item.GameId">Store Page</a>
            </td>
        </tr>
}
    </tbody>
</table>
