@model GCDGameStore.Models.Friend

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Friend</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Member.PwHash)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FriendMemberId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FriendMemberId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FriendMember)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FriendMember.PwHash)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FriendId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
