@model IEnumerable<GCDGameStore.ViewModels.AttendingEvent>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registered)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.Registered)
                {
                    <form asp-action="Delete">
                        <button type="submit" name="EventId" value="@item.AttendingEventId">Unregister</button>
                    </form>
                }
                else
                {
                    <form asp-action="Create">
                        <button type="submit" name="EventId" value="@item.AttendingEventId">Register</button>
                    </form>
                }
                
                @Html.DisplayFor(modelItem => item.Registered)
            </td>
        </tr>
}
    </tbody>
</table>
